<footer class="footer">
  <div class="container">
    <div class="footer-top">
      <div class="brand">
       <img src="https://dummyimage.com/100x40/eee/000&text=BeaverOps" alt="Logo" />
      </div>

      <div class="footer-links">
        <a routerLink="/about">About</a>
        <a routerLink="/features">Features</a>
        <a routerLink="/contact">Contact</a>
        <a routerLink="/Legal" >Legal</a>
      </div>
    </div>

    <div class="footer-bottom">
      <p>© {{ currentYear }} BeaverOps. All rights reserved.</p>
    </div>
  </div>
</footer>
