<section class="tabs-section">
  <div class="tabs">
    <button 
      *ngFor="let provider of cloudProviders" 
      [class.active]="provider === selectedProvider"
      (click)="selectProvider(provider)">
      {{ provider }}
    </button>
  </div>

<div *ngIf="selectedProviderDetails?.isAvailable; else comingSoon">
  <div class="categories-container">
    <div *ngFor="let category of selectedProviderDetails?.categories" class="category-block">
      
      <h2 class="category-title">{{ category.name }}</h2>

      <div class="card-grid">
        <div class="feature-card" *ngFor="let card of category.services">
          <div class="icon">
            <i [class]="card.icon"></i>
          </div>
          <h3>{{ card.title }}</h3>
          <p>{{ card.description }}</p>
        </div>
      </div>
      <hr class="category-divider" />
    </div>
  </div>
</div>

<ng-template #comingSoon>
  <div class="coming-soon">
    <h3><i class="fas fa-tools me-2"></i>Coming Soon</h3>
    <p>Support for {{ selectedProvider }} is under development. Stay tuned!</p>
  </div>
</ng-template>
</section>
